name: Rust CI

on:
  push:
    branches: [ main ]
  pull_request: 
    branches: [ main ]

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Github checkout code...
        uses: actions/checkout@v5

      - name: Build 
        run: |
          cd oo-lib-rust
          cargo build --verbose

      - name: Run tests
        run: |
          cd oo-lib-rust
          cargo test --verbose
